.DS_Store
Thumbs.db

# env / secrets
**/.env
**/.env.*
!**/.env.example
**/*.pem

# dependencies
**/node_modules/

# logs
**/*.log

# build outputs
**/.next/
**/out/
**/dist/
**/build/
**/coverage/

# local tooling
**/.vercel/
